
:root {
  --orange: #ED8E00;
  --white: #FFFFFF;
  --grey: #C8C8C8;
  --blueDark: #040D1F;
  --black: #000000;
  --cr: 'Comfortaa-Regular';
  --cb: 'Comfortaa-Bold';
  --mr: 'Montserrat-Regular';
  --mb: 'Montserrat-Bold';
  --rr: 'Roboto-Regular';
  --rm:  'Roboto-Medium';
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--mr);
  background: var(--blueDark);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  width: 166px;
  height: 45px;
  background: var(--orange);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 14px;
  line-height: 0.86;
  font-family: var(--rm);
  transition: background 300ms, color 300ms;
}
.btn:hover {
  background: var(--blueDark);
  color: var(--white);
}

.title {
  color: var(--orange);
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  font-family: var(--cr);
  width: max-content;
  margin-bottom: 55px;
}
.title::after {
  margin-top: 10px;
  content: '';
  display: block;
  height: 2px;
  background: var(--orange);
}

.header {
  position: sticky;
  top: -90px;
  z-index: 9999;
}

.header__prevnav {
  background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 24px;
}
.header__prenav-icon {
  color: var(--white);
  font-size: 50px;
}
.header__prenav-text {
  font-family: var(--cr);
  color: var(--white);
  font-size: 16px;
  line-height: 1.1;
  max-width: 166px;
  width: 100%;
}
.header__nav {
  background: rgba(1, 3, 5, 0.8);
  backdrop-filter: blur(15px);
}
.logo__span {
  color: var(--white);
  font-family: var(--cb);
  font-size: 18px;
  line-height: 1.1;
}
.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list {
  display: flex;
  gap: 30px;
  height: 100px;
}
.header__nav-link {
  color: var(--white);
  font-size: 14px;
  line-height: 1.2;
  transition: color 300ms;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__nav-link::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: var(--orange);
  position: absolute;
  bottom: 0;
  transition: width 300ms;
}
.header__nav-link:hover::after {
  width: 100%;
}
.header__nav-link:hover {
  color: var(--orange);
}

.main__content {
  height: 640px;
  position: relative;
  display: flex;
  align-items: center;
  background: rgba(7, 15, 25, 0.75);
}
.main__content-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.main__content-title {
  color: var(--white);
  font-family: var(--mb);
  font-size: 64px;
  line-height: 1.2;
}
.main__content-text {
  color: var(--grey);
  font-size: 16px;
  line-height: 1.5;
  max-width: 570px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: justify;
}
.main__content-btns {
  display: flex;
  gap: 30px;
}
.main__films {
  padding-top: 60px;
  padding-bottom: 80px;
}

.main__films-box {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  grid-auto-rows: minmax(300px,400px);
}
.main__films-item {
  overflow: hidden;
  position: relative;
  padding: 54px 14px 18px 14px;
  background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__films-item-img {
  transition: transform 300ms;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  object-fit: cover;
}
.main__films-item-play {
  font-size: 46px;
  color: var(--white);
  margin-bottom: 12px;
}
.main__films-item-time {
  width: 100px;
  height: 24px;
  border: 1px solid #FFFFFF;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 14px;
  line-height: 0.7;
}
.main__films-item-title {
  color: var(--white);
  font-size: 22px;
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 12px;
  font-weight: 400;
}
.main__films-item-text {
  color: var(--white);
  font-size: 14px;
  line-height: 1.5;
  font-family: var(--rr);
}

.main__films-item:hover .main__films-item-img {
  transform: scale(1.3);
}
.main__intro {
  position: relative;
  background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
  padding-top: 40px;
  padding-bottom: 80px;
}
.main__intro-text {
  color: var(--black);
  font-size: 18px;
  line-height: 1.5;
  margin: 50px 0;
  font-family: var(--rr);
  max-width: 558px;
  width: 100%;
  text-align: justify;
}

.main__intro-video {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -5;
  height: 100%;
}
.main__intro-video video {
  height: 100%;
}

.main__coll {
  padding: 60px 0;
}
.main__coll-box {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  grid-auto-rows: 200px;
}

.main__coll-item {
  overflow: hidden;
  position: relative;
  background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
  border-radius: 6px;
}
.main__coll-item img {
  transition: transform 300ms;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}
.main__coll-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__coll-title {
  color: var(--white);
  font-size: 20px;
  line-height: 1.1;
  font-family: var(--cb);
  margin-top: 15px;
}

.main__coll-info::before {
  content: '';
  display: block;
  background: url(../images/box.png) no-repeat;
  width: 20px;
  height: 90%;
  position: absolute;
  top: 7px;
  left: 7px;
}
.main__coll-info::after {
  content: '';
  display: block;
  background: url(../images/box.png) no-repeat;
  width: 20px;
  height: 90%;
  position: absolute;
  top: 7px;
  right: 7px;
}


.main__coll-item:hover img {
  transform: scale(1.3);
}

.main__series-box {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 200px;
  gap: 30px;
}

.main__series-item {
  overflow: hidden;
  background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
  border-radius: 6px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__series-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

.main__series-title {
  color: var(--white);
  font-size: 24px;
  line-height: 1.1;
  font-family: var(--cb);
  margin-top: 20px;
}

.main__series-item:nth-of-type(6n + 1) {
  grid-column: span 4;
  grid-row:  span 2;
  padding: 0 22px;
}
.main__series-item:nth-of-type(6n + 1) .main__series-title {
  font-size: 40px;
  line-height: 1.1;
}

.main__series-item:nth-of-type(6n + 2) {
  grid-column: span 2;
  grid-row:  span 2;
}

.main__series-text {
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--cr);
  margin: 30px 0;
  text-align: center;
  height: 100px;
  overflow: auto;
}

.main__series {
  padding-bottom: 60px;
}










/* Media start */

@media(max-width:1100px) {
  .main__films-box {
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width:1000px) {
  .main__coll-box {
    grid-template-columns: repeat(2,1fr);
  }
  .main__series-item {
    grid-column: span 4;
  }
  .main__series-item:nth-of-type(6n + 2) {
    grid-column: span 4;
    grid-row:  span 1;
  }
  
}

@media(max-width:800px) {
  .main__films-box {
    grid-template-columns: repeat(2,1fr);
  }
  .main__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main__content-title{
    font-size: 40px;
  }
}

.footer {
  background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  padding: 26px 0;
}
.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__box-left {
  display: flex;
  gap: 50px;
}
.footer__box-text {
  font-size: 18px;
  line-height: 1.1;
  color: var(--white);
  font-family: var(--cb);
}


html,body {
  scroll-behavior: smooth;
}











@media (max-width: 700px) {
  .header__nav-container {
    flex-direction: column;
    padding-top: 15px;
  }
  .main__coll-box {
    grid-template-columns: 1fr;
  }
  .footer__box {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 576px) {
  .main__series-item:nth-of-type(6n + 1) .main__series-title {
    font-size: 24px;
  }
  .main__intro-img {
    max-width: 100%;
  }
  .main__films-box {
    grid-template-columns: 1fr;
  }
  .main__intro-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__content-btns {
    flex-direction: column;
  }
  .header__nav-list {
    gap: 15px;
  }
  .main__content-title{
    font-size: 30px;
  }
}


/* Media end */